<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>PDF to mp3 converter</title>
</head>


<body>
    <h1 id="name">PDF to mp3 converter by Vijay</h1>
    <h3 class="heading">Upload a regular PDF file for conversion</h3>
    <form method="POST" action="" enctype="multipart/form-data">

        <p><input type="file" name="file1"></p>
        <p><input type="submit" value="Convert"></p>

    </form>
    <h3 class="heading">Upload a scanned PDF file like a handwritten document for conversion</h3>
    <form method="POST" action="" enctype="multipart/form-data">

        <p><input type="file" name="file2"></p>
        <p><input type="submit" value="Convert"></p>

    </form>
</body>

</html>